# os, lang
## nodejs
node_modules/
.next/

## python
.venv/
__pycache__/

## macos
.DS_Store

# env
## claude
.claude/
.env
!.env.sample

## log
logs/
*.out

# private
_*/
database/
*.png
*.mp4

# zip, tar
*.zip
*.tar
*.gz
